button{
    border: none;
    background-color: cornflowerblue;
}
input[type='submit']{
    border: none;
    background-color: cornflowerblue;
}
input[type='submit']:focus, input[type='submit']:hover{
    filter: brightness(120%);
}
button:focus, button:hover{
    filter: brightness(120%);
}
li{
    list-style-type: none;
}
h1{
    text-align: center;
}
body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
.newtodoitem{
    display: block;
    border-style: groove;
    border-width: 6px;
    padding: 10px;
    margin-right: 2.75rem;
}
.strikethrough{
    text-decoration: line-through;
}
.removebtn{
    margin-left: 10rem;
}
#txtnewtodo{
    margin-left: 2.75rem;
}
#clearbtn{
    margin-left: 2.75rem;
}