button{
    border: none;
    background-color: cornflowerblue;
}
input[type='submit']{
    border: none;
    background-color: cornflowerblue;
}
input[type='submit']:focus, input[type='submit']:hover{
    filter: brightness(120%);
}
button:focus, button:hover{
    filter: brightness(120%);
}
li{
    list-style-type: none;
}
.newtodoitem{
    display: block;
}
.strikethrough{
    text-decoration: line-through;
}